@page
@model WebApp.Pages.Account.AuthenticatorWithMFASetupModel
@{
}

<h3>Step 1:</h3>
<p>
    Please enter the key to your authenticator app:
</p>
<p>
    @Model.ViewModel.Key
</p>
<p>OR scan this QR Code in your authenticator app:</p>
<p>
    @if (Model.ViewModel.QRCodeBase64 != null)
    {
        <img src="data:image/png;base64,@Model.ViewModel.QRCodeBase64" width="300" height="300" />
    }
</p>
<br />
<h3>Step 2:</h3>
<p>
    Please enter the code from your authenticator app:
</p>

<form method="post">
    @if (Model.Succeeded)
    {
        <div class="alert alert-success" role="alert">
            Authenticator app has been successfully setup.
        </div>
    }
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="ViewModel.SecurityCode"></label>
        </div>
        <div class="col-5">
            <input type="text" asp-for="ViewModel.SecurityCode" class="form-control" />
            <span class="text-danger" asp-validation-for="ViewModel.SecurityCode"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Verify" />
        </div>
        <div class="col">
            <input hidden asp-for="ViewModel.Key" />
            <input hidden asp-for="ViewModel.QRCodeBase64" />
        </div>
    </div>
</form>